body {
  background-color: #A8DADC;
}

h1 {
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: 900;
  font-size: 100px;
  font-style: italic;
  color: #E63946;
}

h2 {
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 50px;
  /* font-style: italic; */
  color: #1D3557;
}

h3 {
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 40px;
  /* font-style: italic; */
  color: #1D3557;
}

.dropdown {
  position: center;
  display: block;
}

.dropdown-content {
  display: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

img {
  padding:10px;
  width:70%;
}

.dropdown:hover .dropdown-content {display: block;}
